{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizopia - Login</title>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Quizopia</h1>
        <h2>The Ultimate Quiz Experience</h2>
        <form action="login" method="post">
            {% csrf_token %}
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-secondary" role="alert" style="color:red" >
                        {{ message }}
                    </div>
                    {% endfor %}
            {% endif %}
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="btn_container">
                <div>
                  <button class="log" type="submit" rgba(104, 85, 224, 1);>Login</button>
                </div>
              </div>
        </form>
        <p>Don't have an account? <a href="register" style ="color : rgba(104, 85, 224, 1)" ;>Sign up</a> now!</p>
    </div>
</body>
</html>
