@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: rgb(77, 14, 203);
    background: radial-gradient(circle,
            rgba(77, 14, 203, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}


.quiz-container {
    margin-top: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    max-width: 600px;
    width: 100%;
    overflow-y:scroll;
}


.quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 200px;
}


.quiz-header h2 {
    font-size: 1.5rem;
}


.quiz-header p {
    background: #111;
    padding: 0.4rem 1rem;
    color: #fff;
    border-radius: 5px;
}


.quiz-body {
    padding: 2rem 2rem;
    margin-top: 50px;
}


.quiz-body h2 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}


.quiz-body ul {
    list-style: none;
    padding: 0;
}


.quiz-body ul li {
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #aab7b8;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}


.quiz-body ul li label {
    cursor: pointer;
    padding: 0 0.4rem;
}


.quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


.quiz-footer button {
    padding: 0.6rem 1.5rem;
    outline: none;
    background: #111;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}


.quiz-body button {
    padding: 0.6rem 1rem;
    outline: none;
    background: #111;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}


.quiz-footer button:hover {
    opacity: 1;
}